.hobby1 {
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.hobby1 p {
    font-size: 18px;
    margin: 20px auto;
    width: 80%;
}

.hobby1 h1, h2, h3 {
    color: #ffcc00;
    font-family: 'Georgia', serif;
}


.hobby1 .collapse {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background-color: #2a2a2a;
}

.hobby1 .collapse, .collapse th, .collapse td {
    border: 1px solid #ddd;
}

.hobby1 .collapse th, .collapse td {
    padding: 10px;
    text-align: left;
}

.hobby1 .collapse th {
    background-color: #444;
    color: white;
}

