.list1 {
    list-style-type: decimal;
    text-align: left;
    margin: 20px auto;
    padding: 0;
    width: 80%;
    color: #000000;
}
.list1 p {
    font-weight: bold;
    font-size: 20px;
    color: #006A71;
    font-family: 'Georgia', serif;
}

.list1 #cherry {
    color: #c446bb;
    font-weight: bold;
}